{% extends "classroom/base.html" %}
{% block content %}
    <h2>Багшийн Хянах самбар</h2>
    <a href="{% url 'create_lesson' %}" class="btn btn-primary mb-3">Шинэ Хичээл Үүсгэх</a>
    <h3>Таны Хичээлүүд</h3>
    {% for lesson in lessons %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ lesson.title }}</h5>
                <p class="card-text">{{ lesson.description }}</p>
                <a href="{% url 'add_reservation_slot' lesson.id %}" class="btn btn-secondary btn-sm">Цаг Нэмэх</a>
            </div>
        </div>
    {% endfor %}
{% endblock content %}
