@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato";
}

#outer-container {
    width: 1512px;
    height: 100vh;
    background: #E8B389;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

#inner-container {
    width: 1152px;
    margin: 0 auto;
    border-radius: 20px;
    background: #F2F2F2;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 4px 32px 0px rgba(11, 6, 68, 0.25);
}

.left-column {
    position: relative;
    width: 40%;
    margin: 32px;
}

.right-column {
    width:  60%;
    margin-right: 32px;
}

#top {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 126.82%);
}

#bottom {
    display: flex;
    justify-content: space-evenly;
    gap: 16px;
    margin-top: 24px;
}

.form-group {
    margin-bottom: 24px;
}

.form-group .date{
    width: 442px;
    padding: 13px 16px;
    display: flex;
    justify-content: space-between;
    gap: 6px;
    border-radius: 8px;
    background: #E4E4E4;
    margin-top: 10px;
}

.form-group label {
    color: #03010A;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.form-group .date p {
    color: rgba(3, 1, 10, 0.40);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.adults-children-selector {
    display: flex;
    width: 442px;
    justify-content: space-between;
}

.adults-children-selector div div {
    display: flex;
    width: 209px;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 6px;
    border-radius: 8px;
    margin-top: 10px;
    background: #E4E4E4;
}

select {
    width: 177px;
    background-color: transparent;
    border: none;
    color: rgba(3, 1, 10, 0.40);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

option {
    color: rgba(3, 1, 10, 0.40);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

button {
    position: absolute;
    bottom: 0;
    width: 442px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 99px;
    border: none;
    background: #FF8A00;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}