@font-face {
    font-family: MuseoModerno;
    src: url('../fonts/MuseoModerno-Bold.ttf');
}
@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSans3-Regular.ttf');
}
* {
    margin: 0;
}
body {
    height: 4089px;
}
#navbar {
    display: flex;
    width: 1920px;
    height: 72px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.brand {
    display: flex;
    align-items: center;
    gap: 8px;
}
.brand h2 {
    color: #251805;
    font-family: MuseoModerno;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.mid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
}
.mid p {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    color: #432818;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
}

.nav-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-right p {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    color: #432818;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
}

.nav-right .login {
    border-radius: 8px;
    background: #583101;
    color: #EDE0D4;
}

.nav-container {
    display: flex;
    width: 1320px;
    padding: 16px 12px;
    justify-content: space-between;
    align-items: center;
}

#hero-section {
    display: flex;
    width: 1920px;
    height: 952px;
    padding: 32px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.hero-container {
    display: flex;
    width: 1320px;
    padding: 16px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
}

#menus {
    display: flex;
    width: 1920px;
    padding: 56px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-container {
    display: flex;
    width: 1320px;
    padding: 32px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 64px;
}

.menu-container .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.menu-container .header h1{
    color: #251805;
    font-family: Alegreya;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.menu-container .header p {
    color: #593D3D;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.pics-container {
    display: flex;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}



#blogs {
    display: flex;
    width: 1920px;
    padding: 56px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog-container {
    display: flex;
    width: 1320px;
    padding: 32px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 64px;
}

.blogs-container {
    display: flex;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}

.blog-div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    height: 598px;
    width: 419px;
    flex: 1 0 0;
}

.blog-div .date {
    color: #583101;
    font-family: "Source Sans Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.blog-div .title {
    color: #251805;
    font-family: Alegreya;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 125% */
    height: 72px;
    align-self: stretch;
}

.blog-div .paragraph {
    color: rgba(37, 24, 5, 0.80);
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.blog-container .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.blog-container .header h1{
    color: #251805;
    font-family: Alegreya;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.blog-container .header p {
    color: #593D3D;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.blog-div .readmore {
    position: absolute;
    bottom: 0;
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    color: #583101;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 1px solid #583101;
    width: 71px;
}
footer {
    display: flex;
    width: 1920px;
    padding: 56px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #432818;
}
.footer-container {
    display: flex;
    width: 1320px;
    padding: 32px 12px;
    align-items: center;
    gap: 24px;
}
.footer-container .footer-div {
    display: flex;
    width: 306px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex-shrink: 0;
    align-self: stretch;   
}
.footer-container .footer-div .brand h2{
    color: #F3D5B5;
    font-size: 27.769px;

}
.footer-container .footer-div .brand svg {
    fill: #F3D5B5;
}
.footer-container svg{
    fill: #F3D5B5;
}
.footer-container div p {
    color: #FFF4E8;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}
.footer-container div h1 {
    color: #F3D5B5;
    font-family: Alegreya;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.footer-container .icons {
    display: flex;
    justify-content: space-between;
    width: 144px;
}