@font-face {
    font-family: Lato;
    src: url("../Lato-Black.ttf");
}
main {
    max-width: 1440px;
    height: 100vh;
    background: #D1FFDB;
}

.task-container {
    position: absolute;
    width: 490px;
    height: 403.5px;
    flex-shrink: 0;
    border-radius: 48px;
    background: #FFF;
    bottom: 77.5px;
    left: 230px;
}

p.task-date {
    color: #212121;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 32px;
    margin-left: 24px;
    margin-bottom: 32px;
}

.task-container .task{
    position: relative;
    display: flex;
    gap: 16px;
    margin-left: 24px;
    align-items: center;
}

.task .todo {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.todo .name {
    color: #212121;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.todo .time {
    color: rgba(33, 33, 33, 0.80);
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.task .icon {
    position: relative;
}

.task .icon .check {
    position: absolute;
    width: 16.754px;
    height: 12.575px;
    flex-shrink: 0;
    top: 10.01px;
    left: 7.83px;
}

.task .icon .white {
    position: absolute;
    top: 4px;
    left: 4px;
}

.task-container .add {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #F1FF50;
    right: 24px;
    bottom: 32px;
}
.task-container .tasks {
    display: flex;
    flex-direction: column;
    gap: 41px;
}
.line {
    position: absolute;
    height: 100%;
    border-left: 1px dashed black;
    top: 37px;
    left: 15px;
    height: 53px;
    transform: rotate(180deg);
}